<ul class="items">
	<li class="image panel">
		<div class="front"><img src="img/test.jpg"/></div>
		<div class="back"><p>This is the back of test 1</p></div>
	</li><li class="image panel">
		<div class="front"><img src="img/test.jpg"/></div>
		<div class="back"><p>This is the back of test 2</p></div>
	</li><li class="post panel">
		<div><p>So I posted something here</p><a href="">Read on &gt;</a></div>
	</li><li class="tweet panel">
		<div><p>Waheeyyyyy! Check this out</p><a href="">See tweet &gt;</a></div>
	</li><li class="image panel">
		<div class="front"><img src="img/test.jpg"/></div>
		<div class="back"><p>This is the back of test 1</p></div>
	</li><li class="image panel">
		<div class="front"><img src="img/test.jpg"/></div>
		<div class="back"><p>This is the back of test 1</p></div>
	</li>
</ul>